node_modules/
build/
biuld/builder-debug.yml
biuld/builder-effective-config.yaml
biuld/latest.yml
biuld/PC Midia Setup 1.0.3.exe
biuld/PC Midia Setup 1.0.3.exe.blockmap
biuld/win-unpacked/chrome_100_percent.pak
biuld/win-unpacked/chrome_200_percent.pak
biuld/win-unpacked/d3dcompiler_47.dll
biuld/win-unpacked/ffmpeg.dll
biuld/win-unpacked/icudtl.dat
biuld/win-unpacked/libEGL.dll
biuld/win-unpacked/libGLESv2.dll
biuld/win-unpacked/LICENSE.electron.txt
biuld/win-unpacked/LICENSES.chromium.html
biuld/win-unpacked/PC Midia.exe
biuld/win-unpacked/resources.pak
biuld/win-unpacked/snapshot_blob.bin
biuld/win-unpacked/v8_context_snapshot.bin
biuld/win-unpacked/vk_swiftshader_icd.json
biuld/win-unpacked/vk_swiftshader.dll
biuld/win-unpacked/vulkan-1.dll
biuld/win-unpacked/locales/af.pak
biuld/win-unpacked/locales/am.pak
biuld/win-unpacked/locales/ar.pak
biuld/win-unpacked/locales/bg.pak
biuld/win-unpacked/locales/bn.pak
biuld/win-unpacked/locales/ca.pak
biuld/win-unpacked/locales/cs.pak
biuld/win-unpacked/locales/da.pak
biuld/win-unpacked/locales/de.pak
biuld/win-unpacked/locales/el.pak
biuld/win-unpacked/locales/en-GB.pak
biuld/win-unpacked/locales/en-US.pak
biuld/win-unpacked/locales/es-419.pak
biuld/win-unpacked/locales/es.pak
biuld/win-unpacked/locales/et.pak
biuld/win-unpacked/locales/fa.pak
biuld/win-unpacked/locales/fi.pak
biuld/win-unpacked/locales/fil.pak
biuld/win-unpacked/locales/fr.pak
biuld/win-unpacked/locales/gu.pak
biuld/win-unpacked/locales/he.pak
biuld/win-unpacked/locales/hi.pak
biuld/win-unpacked/locales/hr.pak
biuld/win-unpacked/locales/hu.pak
biuld/win-unpacked/locales/id.pak
biuld/win-unpacked/locales/it.pak
biuld/win-unpacked/locales/ja.pak
biuld/win-unpacked/locales/kn.pak
biuld/win-unpacked/locales/ko.pak
biuld/win-unpacked/locales/lt.pak
biuld/win-unpacked/locales/lv.pak
biuld/win-unpacked/locales/ml.pak
biuld/win-unpacked/locales/mr.pak
biuld/win-unpacked/locales/ms.pak
biuld/win-unpacked/locales/nb.pak
biuld/win-unpacked/locales/nl.pak
biuld/win-unpacked/locales/pl.pak
biuld/win-unpacked/locales/pt-BR.pak
biuld/win-unpacked/locales/pt-PT.pak
biuld/win-unpacked/locales/ro.pak
biuld/win-unpacked/locales/ru.pak
biuld/win-unpacked/locales/sk.pak
biuld/win-unpacked/locales/sl.pak
biuld/win-unpacked/locales/sr.pak
biuld/win-unpacked/locales/sv.pak
biuld/win-unpacked/locales/sw.pak
biuld/win-unpacked/locales/ta.pak
biuld/win-unpacked/locales/te.pak
biuld/win-unpacked/locales/th.pak
biuld/win-unpacked/locales/tr.pak
biuld/win-unpacked/locales/uk.pak
biuld/win-unpacked/locales/ur.pak
biuld/win-unpacked/locales/vi.pak
biuld/win-unpacked/locales/zh-CN.pak
biuld/win-unpacked/locales/zh-TW.pak
biuld/win-unpacked/resources/app-update.yml
biuld/win-unpacked/resources/elevate.exe
biuld/win-unpacked/resources/app/index.js
biuld/win-unpacked/resources/app/LICENSE.md
biuld/win-unpacked/resources/app/package.json
biuld/win-unpacked/resources/app/README.md
biuld/win-unpacked/resources/app/App/app.js
biuld/win-unpacked/resources/app/Domain/Commun/commun.js
biuld/win-unpacked/resources/app/Domain/Models/EnumTv.js
biuld/win-unpacked/resources/app/Domain/Models/InstagramBlock.js
biuld/win-unpacked/resources/app/Domain/Models/PostModel.js
biuld/win-unpacked/resources/app/Domain/Service/blockUpdater.js
biuld/win-unpacked/resources/app/Domain/Service/instagramDownloader.js
biuld/win-unpacked/resources/app/Domain/Service/tagUpdater.js
biuld/win-unpacked/resources/app/Domain/Service/timeLineDownloader.js
biuld/win-unpacked/resources/app/Domain/Service/websocketClient.js
biuld/win-unpacked/resources/app/Domain/Src/background.mp4
biuld/win-unpacked/resources/app/Domain/Src/img/icon.ico
biuld/win-unpacked/resources/app/Domain/Src/img/play_black.png
biuld/win-unpacked/resources/app/Domain/Src/img/play.png
biuld/win-unpacked/resources/app/Domain/Src/img/icon/icon x16.png
biuld/win-unpacked/resources/app/Domain/Src/img/icon/logo.ico
biuld/win-unpacked/resources/app/Domain/Src/img/icon/logo.png
biuld/win-unpacked/resources/app/Domain/Src/img/icon/pc-midia.png
biuld/win-unpacked/resources/app/Domain/Src/jquery/jquery-3.7.1.min.js
biuld/win-unpacked/resources/app/Domain/Src/jquery/jquery-ui.min.js
biuld/win-unpacked/resources/app/Domain/Src/jquery/jquery.mask.js
biuld/win-unpacked/resources/app/Domain/Src/jquery/jquery.mask.min.js
biuld/win-unpacked/resources/app/Domain/Src/jquery/jquery.min.js
biuld/win-unpacked/resources/app/Domain/Src/jquery/modalLoading.js
biuld/win-unpacked/resources/app/Domain/Src/scritps/extrac/DotNetZip.dll
biuld/win-unpacked/resources/app/Domain/Src/scritps/extrac/DotNetZip.xml
biuld/win-unpacked/resources/app/Domain/Src/scritps/extrac/extract_pc_mida.exe
biuld/win-unpacked/resources/app/Domain/Src/scritps/extrac/extract_pc_mida.exe.config
biuld/win-unpacked/resources/app/Domain/Src/scritps/instaloader/instaloader.exe
biuld/win-unpacked/resources/app/Domain/Src/scritps/instaloader/instaloader.exe.md5
biuld/win-unpacked/resources/app/Domain/Views/inativeTv.html
biuld/win-unpacked/resources/app/Domain/Views/linkTv.html
biuld/win-unpacked/resources/app/Domain/Views/player.html
biuld/win-unpacked/resources/app/Domain/Views/reloading.html
biuld/win-unpacked/resources/app/Domain/Views/css/font-personalized.css
biuld/win-unpacked/resources/app/Domain/Views/css/inativeTv.css
biuld/win-unpacked/resources/app/Domain/Views/css/linkTv.css
biuld/win-unpacked/resources/app/Domain/Views/css/loading-screen.css
biuld/win-unpacked/resources/app/Domain/Views/css/open-sans.css
biuld/win-unpacked/resources/app/Domain/Views/css/player.css
biuld/win-unpacked/resources/app/Domain/Views/css/spinner.css
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Bold/OpenSans-Bold.eot
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Bold/OpenSans-Bold.svg
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Bold/OpenSans-Bold.ttf
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Bold/OpenSans-Bold.woff
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Bold/OpenSans-Bold.woff2
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/ExtraBold/OpenSans-ExtraBold.eot
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/ExtraBold/OpenSans-ExtraBold.svg
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/ExtraBold/OpenSans-ExtraBold.ttf
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/ExtraBold/OpenSans-ExtraBold.woff
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/ExtraBold/OpenSans-ExtraBold.woff2
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Light/OpenSans-Light.eot
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Light/OpenSans-Light.svg
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Light/OpenSans-Light.ttf
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Light/OpenSans-Light.woff
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Light/OpenSans-Light.woff2
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Regular/OpenSans-Regular.eot
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Regular/OpenSans-Regular.svg
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Regular/OpenSans-Regular.ttf
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Regular/OpenSans-Regular.woff
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Regular/OpenSans-Regular.woff2
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Semibold/OpenSans-Semibold.eot
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Semibold/OpenSans-Semibold.svg
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Semibold/OpenSans-Semibold.ttf
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Semibold/OpenSans-Semibold.woff
biuld/win-unpacked/resources/app/Domain/Views/css/fonts/Semibold/OpenSans-Semibold.woff2
biuld/win-unpacked/resources/app/Domain/Views/css/jquery/jquery-ui.css
biuld/win-unpacked/resources/app/Domain/Views/css/jquery/jquery-ui.min.css
biuld/win-unpacked/resources/app/Domain/Views/css/jquery/jquery-ui.structure.css
biuld/win-unpacked/resources/app/Domain/Views/css/jquery/jquery-ui.structure.min.css
biuld/win-unpacked/resources/app/Domain/Views/css/jquery/jquery-ui.theme.css
biuld/win-unpacked/resources/app/Domain/Views/css/jquery/jquery-ui.theme.min.css
biuld/win-unpacked/resources/app/Domain/Views/js/BackImplemt.js
biuld/win-unpacked/resources/app/Domain/Views/js/inativeTv.js
biuld/win-unpacked/resources/app/Domain/Views/js/linkTv.js
biuld/win-unpacked/resources/app/Domain/Views/js/player.js
biuld/win-unpacked/resources/app/Repository/config.json
biuld/win-unpacked/resources/app/Repository/DB.js
